*.la
*.lo
*.o
*~
.deps
.libs

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4
/postgis_geohash-*.tar.gz
/stamp-h1
/test-suite.log
/tests.log
/tests.trs
